.block-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.transactions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  max-width: 1200px; /* Increase the max width */
}

.transactions h3 {
  margin: 0 0 10px 0;
  width: 100%; /* Ensure the heading spans full width */
  text-align: left; /* Align the heading to the left */
}

.transactions-container {
  width: 100%;
  border: 2px solid #007bff; /* Add a blue border */
  border-radius: 8px; /* Add rounded corners */
  padding: 10px; /* Add padding inside the container */
  background-color: #f9f9f9; /* Light background color */
}

.transactions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.transactions-list li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  white-space: pre-wrap; /* Wrap the text */
  word-wrap: break-word; /* Break long words */
}

.transactions-list button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 10px 0; /* Adjust padding for better spacing */
  font-size: 1em; /* Increase font size */
}

.transactions-list button:hover {
  color: white;
  background-color: #0056b3;
}

.transactions-list button:focus {
  outline: none; /* Remove focus outline */
}

.transactions-list button .transaction-hash {
  text-decoration: none; /* Remove underline */
  font-size: 1em; /* Increase font size */
}

.transaction-index {
  margin-right: 10px;
  text-align: right; /* Align the numbers to the right */
  font-weight: normal;
  min-width: 20px; /* Ensure the index has a fixed width for alignment */
}

.transaction-details {
  width: 100%; /* Detail section takes the remaining width */
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  max-height: 600px;
  text-align: left;
}

.block-details-page h2 {
  font-weight: normal;
}

.transaction-details h3 {
  margin-top: 0;
}

.transaction-details pre {
  white-space: pre-wrap; /* Wrap the text */
  word-wrap: break-word; /* Break long words */
}
