body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none; /* Skrýt posuvníky pro Firefox */
  -ms-overflow-style: none; /* Skrýt posuvníky pro Internet Explorer a Edge */
}

body::-webkit-scrollbar {
  display: none; /* Skrýt posuvníky pro Webkit prohlížeče (Chrome, Safari) */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure the parent container also takes full width */
  height: 100vh;
  padding-top: 50px; /* Adjust padding to move the container down */
  box-sizing: border-box; /* Ensure padding is included in the height */
  overflow: auto;
}

.search-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  transition: transform 0.3s ease-in-out; /* Přidání animace */
}

.search-container:hover {
  transform: translateY(-2px); /* Jemný pohyb nahoru při hover */
}

.search-container h1 {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #333;
}

.search-block {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Limit the max width of the search block */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-block input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 1em;
  transition: box-shadow 0.3s; /* Přidání animace */
}

.search-block input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1); /* Zvýraznění při focus */
}

.search-block button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Přidání animace */
}

.search-block button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Mírné zvětšení při hover */
}

.search-block button:focus {
  outline: none;
}

.search-block .icon {
  font-size: 1.2em;
}

/* <--- Dashboard styly  ---> */
.dashboard {
  width: 100%;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-group {
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-group h3 {
  margin-bottom: 10px;
  font-size: 1em;
  color: #444;
  text-align: left;
  margin-left: 20px;
  font-weight: lighter;
}

.dashboard h2 {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #333;
  text-align: left;
  margin-left: 30px;
}

.dashboard-content {
  display: flex;
  flex-direction: column; /* Vertikální uspořádání položek */
  gap: 5px; /* Mezera mezi položkami */
  max-width: 100%; /* Max šířka dashboardu */
  margin: 0 auto; /* Vycentrování dashboardu */
  padding: 10px;
}

.dashboard-item {
  background-color: white;
  padding: 0px;
  margin-left: 20px;
  display: flex;
  flex-direction: row; /* Horizontální uspořádání ikony a textu */
  align-items: center;
  justify-content: left; /* Vycentrování obsahu */
  text-align: left;
  transition: transform 0.3s ease-in-out; /* Přidání animace */
}

.dashboard-item:hover {
  transform: translateY(-2px); /* Jemný pohyb nahoru při hover */
}

.dashboard-item .icon {
  font-size: 1.1em;
  margin-right: 20px; /* Mezera mezi ikonou a textem */
  color: #007bff;
}

.dashboard-item p {
  margin: 0;
  color: #333;
  font-weight: lighter;
}

.dashboard-item span {
  font-weight: bolder;
}

.search-container h1,
.dashboard h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.dashboard-content p {
  margin: 10px 0;
  font-size: 1.1em;
  color: #333;
  line-height: 1.5;
}

/* Remove arrows from number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
